.sec_understand_right,
header nav,
.navbar_dx ul {
  display: flex;
  align-items: center;
}

.navbar_dx #nav_button {
  margin-left: 35px;
  padding: 7px 15px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #30488F;
  background-color: white;
  font-size: 14px;
  font-family: verdana;
  color: #30488F;
  font-weight: bold;
}

.sec_understand_left button {
  padding: 7px 15px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #30488F;
  background-color: #30488F;
  font-size: 14px;
  font-family: verdana;
  color: white;
}

header {
  background-color: white;
}

.navbar_dx {
  width: 100%;
}

.navbar_dx ul {
  justify-content: flex-end;
  font-weight: bold;
}

.navbar_dx li {
  margin-left: 35px;
  list-style-type: none;
}

.navbar_dx a {
  text-decoration: none;
  color: #58402C;
}

.navbar_dx a:hover {
  color: #30488F;
}

.navbar_dx #nav_button:hover {
  background-color: #30488F;
  color: white;
  transition: 0.3s;
}

header nav {
  height: 80px;
  border-bottom: 1px solid #58402C;
  font-size: 14px;
  font-family: verdana;
}

.sec_understand {
  margin: 70px 0;
  padding: 20px 0;
  background-color: white;
}

.sec_understand_left {
  font-family: verdana;
  color: #58402C;
  line-height: 1.8;
}

.sec_understand_left h1 {
  font-size: 36px;
  font-weight: bold;
}

.sec_understand_left h3 {
  font-size: 20px;
  font-weight: lighter;
  margin: 25px 0;
}

.sec_understand_left a {
  text-decoration: none;
  color: #58402C;
}

.sec_understand_left p {
  margin-top: 15px;
  font-size: 14px;
}

.sec_understand_left p:hover {
  color: #30488F;
}

.sec_understand_left button:hover {
  background-color: #001c77;
  transition: 0.3s;
}

.sec_traditional {
  margin-bottom: 70px;
  padding: 40px 0;
  font-family: verdana;
  line-height: 1.8;
  color: #58402C;
  background-color: #FFE7D2;
}

.sec_traditional .trad_title {
  text-align: center;
  margin: 60px 0;
}

.sec_traditional .trad_title h2 {
  width: 50%;
  margin: 0 auto;
}

.sec_traditional .hardcore,
.sec_traditional .no_feedback,
.sec_traditional .notsafe,
.sec_traditional .lightweight,
.sec_traditional .feedback,
.sec_traditional .safe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec_traditional .hardcore p,
.sec_traditional .no_feedback p,
.sec_traditional .notsafe p,
.sec_traditional .lightweight p,
.sec_traditional .feedback p,
.sec_traditional .safe p {
  width: 70%;
  font-size: 18px;
  text-align: center;
}

.sec_traditional .hardcore img,
.sec_traditional .no_feedback img,
.sec_traditional .notsafe img,
.sec_traditional .lightweight img,
.sec_traditional .feedback img,
.sec_traditional .safe img {
  width: auto;
  height: 105px;
  margin-bottom: 30px;
}

.sec_traditional .before,
.sec_traditional .after {
  text-align: center;
}

.sec_traditional .before img,
.sec_traditional .after img {
  width: 280px;
  height: auto;
  margin-top: 80px;
}

.sec_traditional hr {
  width: 70%;
  margin: 80px auto;
  border: 1px solid #58402C;
}

.small_logo {
  display: flex;
  width: 35%;
  margin-right: 15px;
}

.small_logo img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.small_logo h3 {
  width: 70%;
  font-family: verdana;
  font-size: 14px;
  color: #58402C;
}

.footer_nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 65%;
}

.footer_nav .footer_title {
  font-family: verdana;
  font-size: 14px;
  color: #58402C;
}

.footer_nav ul.special_items {
  width: 20%;
}

.footer_nav li {
  list-style-type: none;
  line-height: 2;
}

.footer_nav a {
  text-decoration: none;
  color: #58402C;
  font-family: verdana;
  font-size: 12px;
}

.footer_nav a:hover {
  color: #30488F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center_cont {
  width: 70%;
  margin: auto;
  display: flex;
}

.center_cont_2 {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

