header {
  background-color: $bg_section_white
}

.navbar_dx {
  width: 100%;

  ul {
    @extend %flex;
    justify-content: flex-end;
    font-weight: bold;
  }

  li {
    margin-left: 35px;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: $text_color;

    &:hover {
      color: #30488F;
    }
  }

  #nav_button {
    @extend %nav_style_button;

    &:hover {
      background-color: #30488F;
      color: white;
      transition: 0.3s;
    }
  }
}


header nav {

  @extend %flex;

  height: 80px;
  border-bottom: 1px solid $text_color;
  font-size: $text_size_14;
  font-family: $font_verdana;
}
