
$text_color: #58402C;

$text_size_12: 12px;
$text_size_14: 14px;
$text_size_16: 16px;

$font_verdana: verdana;


%flex {
  display: flex;
  align-items: center;
}

%nav_style_button {
  margin-left: 35px;
  padding: 7px 15px;
  border-radius: 5px;
  border-style: none;
  border: 1px solid #30488F;
  background-color: white;
  font-size: $text_size_14;
  font-family: $font_verdana;
  color: #30488F;
  font-weight: bold;
}



@import "header";
@import "footer";




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center_cont {
  width: 70%;
  margin: auto;
  display: flex;
}
